.app__item {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}


.app__item-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__item-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__item-name{
    flex : 1;
}

.app__item-dash {
    width: 90%;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__item-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
}